@import '~styles/utils';

.ImageBlock {
  display: block;

  &--Normal {
    @include breakpoint(680px) {
      padding: 60px 0;
      background-color: lighten($color-background, 2%);
    }
  }

  &--Normal &__Image {
    width: 80%;
    max-width: 740px;
    margin: 0 auto;
  }

  &--FullWidth &__Image {
    width: 100%;
  }
}
