@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/Theinhardt-Regular.eot');
	src: local('Theinhardt Regular'), local('Theinhardt-Regular'),
		url('../fonts/Theinhardt-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Theinhardt-Regular.woff') format('woff'),
		url('../fonts/Theinhardt-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../fonts/Theinhardt-MediumItalic.eot');
	src: local('Theinhardt Medium Italic'), local('Theinhardt-MediumItalic'),
		url('../fonts/Theinhardt-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Theinhardt-MediumItalic.woff') format('woff'),
		url('../fonts/Theinhardt-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
