@import '~styles/utils';

.NextProjectLink {
  position: relative;
  text-decoration: none;
  background-color: lighten($color-background, 3%);

  display: flex;
  flex-direction: column;

  &__Label {
    text-align: center;
    color: $color-font-primary;
    font-family: $font-family-text;
    text-transform: lowercase;
    font-size: 14px;
  }

  &__Name {
    text-align: center;
    color: $color-font-primary;
    font-family: $font-family-title;
    font-size: 32px;
  }

  padding: 60px 30px;
  &__Label { font-size: 16px; }
  &__Name { font-size: 28px; }

  @include breakpoint(480px) {
    padding: 60px 50px;
    &__Label { font-size: 14px; }
    &__Name { font-size: 32px; }
  }

  @include breakpoint(480px) {
    padding: 100px 80px;
  }
}
