@import '~styles/utils';

.PageTransitionLayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include z-index("loader");

  pointer-events: none;

  &__Layer, &__Background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: all;
  }

  &__Layer {
    transform: scaleX(0);
    transform-origin: left;

    background-color: lighten($color-background, 2%);
  }

  &__Background {

  }
}
