@import '../../shared/styles/theme';

.HomeScene {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  color: $primary-color;
  background-color: $background-color;

  min-height: 100vh;

  &__Container {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
    padding: 270px 0;

    position: relative;
  }

  .Logo {
    position: fixed;
    top: 60px;
  }

  .AboutMe {
    margin: 0 0 0 auto;
  }
}
