@import '../../shared/styles/theme';

.HomeScene {
  @extend %typo-setting-one;

  font-family: $primary-font;
  font-size: 16px;

  background-color: $background-color;

  min-height: 100vh;

  &__Container {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    width: 80vw;

    padding: 40vh 0 100px 0;

    @include breakpoint(medium) {
      width: 90vw;
      padding: 270px 0;
    };
  }

  .Logo {
    position: fixed;
    z-index: $z-logo;
    top: 60px;
  }

  .AboutMe {
    margin: 0 0 0 auto;
  }

  .ProjectList {
    margin-top: 120px;
    @include breakpoint(medium) { margin-top: 200px; };
  }
}
