@font-face {
  font-family: 'Theinhardt';
  font-style: normal;
  font-weight: 400;
  src: local('Theinhardt'), local('Theinhardt-Regular'), url('/shared/fonts/Theinhardt-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Theinhardt';
  font-style: italic;
  font-weight: 500;
  src: local('Theinhardt'), local('Theinhardt-MediumItalic'), url('/shared/fonts/Theinhardt-MediumItalic.otf') format('otf');
}
