@import '../../shared/styles/theme';

body {
  background-color: $background-color;
}

.HomeScene {
  @extend %typo-setting-one;

  font-family: $primary-font;
  font-size: 16px;

  background-color: $background-color;

  min-height: 100vh;

  &__Container {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    width: 80vw;

    padding: 40px 0 100px 0;

    @include breakpoint(medium) {
      width: 90vw;
      padding: 60px 0 270px 0;
    };
  }

  .AboutMe {
    margin: 140px 0 100px 0;

    @include breakpoint(medium) {
      margin: 25vh 0 0 auto;
    };
  }

  .ProjectList {
    margin-top: 120px;
    @include breakpoint(medium) { margin-top: 200px; };
  }
}
