@import '../../styles/theme';

.ReturnToTop {
  position: fixed;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 400ms ease-out;

  &--active {
    opacity: .7;
    pointer-events: all;
  }

  &:hover {
    opacity: 1;
  }

  &__Icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
  &__Text {
    @extend %typo-setting-two;
    font-size: 18px;
    align-self: center;
  }
}
