@import '~styles/utils';

.SplashScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include z-index("loader", 1);

  background-color: lighten($color-background, 2%);

  display: flex;
  justify-content: center;
  align-items: center;

  &__Banner {
    display: flex;
    background-color: $color-background;
    padding: 10px 20px 8px;
    position: relative;
    transform-origin: 'left';
    transform: scaleX(0);
  }

  &__CoverLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
  }

  &__Logo {
    opacity: 0.8;
  }
}
