@import '../../../../shared/styles/theme';

.AboutMe {
  width: 100%;
  max-width: 500px;
  line-height: 24px;



  &__Text {
    margin-bottom: 40px;
  }

  &__ContactInfo {
    @extend %typo-setting-two;
    overflow: hidden;
  }

  &__Link {
    // Inherit from .AboutMe__ContactInfo
    color: inherit;
    text-decoration: none;
  }

  // @animation AboutMe
  &-appear &__Text {
    opacity: 0;
    transform: translateY(-10px);
  }

  &-appear-active &__Text {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 400ms ease-out, transform 600ms ease-out;
  }

  // @animation AboutMe__ContactInfoContainer
  &-appear &__ContactInfoContainer {
    transform: translateY(100%);
    display: inline-block;
  }

  &-appear-active &__ContactInfoContainer {
    transform: translateY(0%);
    transition: transform 260ms ease-out;
    transition-delay: 300ms;
  }
}
