@import '~styles/utils';

.ProjectTitle {
  display: block;
  width: 100%;

  &__Name {
    width: 80%;
    max-width: 860px;
    margin: 0 auto;

    font-size: 64px;
    font-family: $font-family-title;
    text-align: center;
    line-height: 0.9;
  }

  &__Type {
    display: block;
    font-family: $font-family-text;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}
