@import '~styles/utils';

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include z-index("nav");

  padding: 40px 60px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;

  &__Menu {
    display: flex;
  }

  &__Link {
    margin: 0 0 0 40px;
  }
}
