$white: #FFF;

$black: #000;
$black-mine-shaft: #1F1F1F;
$grey-charcoal: #3F3F3F;
$grey-cod-gray: #303030;

$color-font-primary: $white;
$color-font-secondary: $grey-charcoal;

$color-background: $black-mine-shaft;
