@import '~styles/utils';

.TextBlock {
  display: block;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;

  &__Title {
    font-family: $font-family-title;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
}
