@import '../../../../shared/styles/theme';

.ProjectPreview {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 40px;
    @include breakpoint(medium) { margin-bottom: 70px; };
    @include breakpoint(large) { margin-bottom: 100px; };
  }

  &__Visual {
    width: 100%;
  }
}
