.Home {
  &__ProjectList {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__ProjectCard {
    margin: 20px;
    width: calc(50% - 40px);
  }
}
