@import '~styles/utils';

.Home {
  &__ProjectList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;

    max-width: 440px;
    padding: 180px 0 100px;

    @include breakpoint(860px) {
      max-width: 880px;
      padding: 140px 0 220px;
    }
    @include breakpoint(1080px) {
      padding: 140px 0 280px;
    }
  }

  $centerMargin: (
    'default': 20px,
    '1080': 40px,
  );

  &__ProjectCard {
    // 2 ProjectCard per row when browser width is at least 860px
    @include breakpoint(860px) {
      width: calc(50% - #{map-get($centerMargin, 'default')});
    }
    @include breakpoint(1080px) {
      width: calc(50% - #{map-get($centerMargin, '1080')});
    }
  }

  // Set bottom margin
  &__ProjectCard {
    margin-bottom: 80px;
    @include breakpoint(860px) {
      margin-bottom: 100px;
    }
  }

  // No margin for last ProjectCard
  &__ProjectCard:nth-last-child(1) {
    margin-bottom: 0;
  }

  // No margin for the 2nd last when there is two row
  &__ProjectCard:nth-last-child(2):nth-child(odd) {
    @include breakpoint(860px) {
      margin-bottom: 0;
    }
  }

  // 1st item of a row
  &__ProjectCard:nth-child(2n + 1) {
    @include breakpoint(860px) {
      margin-right: map-get($centerMargin, 'default');
    }
    @include breakpoint(1080px) {
      margin-right: map-get($centerMargin, '1080');
    }
  }

  // 2nd item of a row
  &__ProjectCard:nth-child(2n) {
    @include breakpoint(860px) {
      transform: translateY(30%);
      margin-left: map-get($centerMargin, 'default');
    }
    @include breakpoint(1080px) {
      margin-left: map-get($centerMargin, '1080');
    }
  }
}
