@import '../../../../shared/styles/theme';

.ProjectItem {
  display: block;
  max-width: 720px;
  width: 100%;
  @include breakpoint(medium) { width: 60%; };

  &:not(:last-child) {
    margin-bottom: 80px;
    @include breakpoint(small) { margin-bottom: 120px; };
    @include breakpoint(medium) { margin-bottom: 200px; };
    @include breakpoint(large) { margin-bottom: 300px; };
  }

  &__Visual {
    @include aspect-ratio(16, 9);
    width: 100%;

    background-color: grey;
  }

  &__Title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__Name {
    margin-bottom: 4px;
    text-decoration: none;
    color: inherit;
  }

  &__Role {
    @extend %typo-setting-two;
    font-size: 14px;
    text-decoration: none;
  }
}
