@import '../../../../shared/styles/theme';

.ProjectItem {
  &:not(:last-child) {
    margin-bottom: 200px;
  }

  &__Visual {
    width: 720px;
    height: 405px;
    background-color: grey;
  }

  &__Title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__Name {
    margin-bottom: 4px;
  }

  &__Role {
    @extend %typo-setting-two;
    font-size: 14px;
  }
}
