@import '~styles/utils';

.About {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 120px 0;

  &__Paragraph {
    margin: 0;
    font-family: $font-family-text;
    line-height: 2;

    font-size: 18px;
    @include breakpoint(720px) { font-size: 22px; }
    @include breakpoint(860px) { font-size: 26px; }
  }

  &__LinkList {
    margin-top: 40px;

    display: flex;
  }

  &__Link {
    font-family: $font-family-text;

    font-size: 18px;
    margin-right: 30px;
    @include breakpoint(560px) {
      margin-right: 60px;
    }
    @include breakpoint(720px) {
      font-size: 22px;
      margin-right: 80px;
    }
    @include breakpoint(860px) {
      font-size: 24px;
    }
  }
}
