@import '../../../../shared/styles/theme';

.PreviewList {
  &-appear {
    opacity: 0;
    transform: translateY(4vh);
  }

  &-appear-active{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 400ms ease-out, transform 600ms ease-out;
  }
}
