@import '../../../../shared/styles/theme';

.AboutMe {
  width: 500px;
  line-height: 24px;

  &__Text {
    margin-bottom: 40px;
  }

  &__ContactInfo {
    @extend %typo-setting-two;
  }

  &__Link {
    // Inherit from .AboutMe__ContactInfo
    color: inherit;
    text-decoration: none;
  }
}
