@import '~styles/utils';

.Image {
  &__Container {
    position: relative;
    width: 100%;
    background-color: lighten($color-background, 14%)
  }

  &__DetailedImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
  }
}
